body {
  /* poster in the middle */
  display: flex;
  justify-content: center;
  align-items: center;

  /* text style */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;

  /* background pic */
  background-image: url("pic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.poster {
  width: 420px;
  aspect-ratio: 3 / 4;

  display: grid;
  grid-template-rows: auto 1fr auto;

  text-align: center;
  position: relative;
}

.top {
  font-size: 1.1rem;
  letter-spacing: 0.06em;
}

/* blink text */
.blink {
  animation: blink 4s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}


/* line */
.divider {
  width: 60%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1.2rem auto;
}

.question {
  margin-top: 1rem;
  font-size: 0.95rem;
  opacity: 0.75;
  letter-spacing: 0.05em;
}

/* question */
.prompt {
  margin-bottom: 0.6rem;
}

/* type box */
.thought-box {
  width: 260px;
  height: 3rem;

  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);

  color: white;
  font-size: 0.8rem;
  font-family: inherit;
  text-align: center;

  outline: none;
  resize: none;
}

.thought-box::placeholder {
  color: rgba(255, 255, 255, 0.45);
  font-style: italic;
}

.reflection-link {
  margin-top: 1.8rem;
  font-size: 0.9rem;
  opacity: 0.5;
}

.reflection-link a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.reflection-link a:hover {
  opacity: 0.8;
}

.bottom {
  font-size: 1rem;
  line-height: 1.4;
}

.emphasis {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

/* neom style for text*/
.neon {
  color: white;
  text-shadow:
    0 0 4px rgba(255, 255, 255, 0.6),
    0 0 10px rgba(255, 120, 80, 0.7),
    0 0 20px rgba(255, 80, 40, 0.5);

  animation: neonPulse 3.5s infinite;
}

@keyframes neonPulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

/* hand writing */
.script {
  font-family: cursive;
  font-size: 2rem;
  margin-top: 0.4rem;
}





